# This workflow deploys the special `artifacts` branch to GitHub Pages when changes are pushed to it.

name: Deploy

# Run when the `Build` workflow completes (we only run the job on successful builds
# using the `if` condition on the job below)
on:
  workflow_run:
    workflows: [Build]
    types: [completed]

# Set the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write

# Allow one concurrent deployment
concurrency:
  group: 'deploy'

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup GitHub Pages
        uses: actions/configure-pages@v5

      - name: Upload GitHub Pages artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: './artifacts'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
